body {
    background-color: white;
    color: gray;
    margin: 0;
}

body.dark-mode {
    background-color: black;
    color: white;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: gray;
    padding: 20px;
    color: black;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 500;
}

footer.dark-mode {
    background-color: lightgray;
    color: black;
}

button {
    border-radius: 50px;
    font-size: 25;
    height: 60px;
    width: 100px;
    border: none;
    background-color: gray;
    color: white;
    transition: .7s ease-in-out;
}

button:hover {
    background-color: black;
}

button.dark-mode {
    background-color: white;
    color: gray;
}

button.darkmode:hover {
    background-color: gray;
    color: white;
}