body {
    background: #1b2838;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 60px;
    color: rgb(177, 224, 231);
    font-family: 'Times New Roman', Times, serif;
}

img {
    max-width: 900px;
    max-height: 600px;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgba(177, 224, 231, .50);
    border: none;
    color: black;
    padding: 10px;
    border-radius: 20%;
    transition: .7s ease;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(177, 224, 231, 1);
}